*{
	font-family: Verdana;
	font-size: 14px;
	text-align: justify;
}

body {
	background: url(../img/background-colors.jpg);
	background-position: center;
	background-size: no-repeat;
	display: flex;
	align-items: center;
}

#contenedor {
	height: auto;
	margin: 10rem;
	padding: 2%;
	background-color: #369;
	border-radius: 0.8rem;
	width: 45rem;
}

#texto {
	border: 2px solid gray;
	border-radius: 0.5rem;
	color: darkgray;
	margin: 0.5rem auto;
	overflow: hidden;
	width: 45rem;
}

.contador {
	background-color: white;
	color: black;
	height: 2rem;
	margin: auto;
	padding: 2rem;
	width: 2rem;
}

#publicar {
	margin: 2.5rem auto;
	background-color: #09c;
	border-radius: 0.5rem;
	color: white;
	padding: 0.5rem;
}

.formatoMensaje {
	background-color: white;
	border: 3px solid gray;
	border-radius: 0.8rem;
	color: black;
	font-size: 1.2rem;
	margin: 0.5rem auto;
	padding: 0.5rem;
	width: 45rem;
}

.red {
	color: red;
}

.white {
	color: white;
}

.yellow {
	color: yellow;
}

.salto-linea {

}